---
import RootLayout from "../../layouts/RootLayout.astro";

const posts = await Astro.glob("./*.mdx");

posts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime(),);
---

<RootLayout title="Blog">
    <section class="max-w-4xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-6 text-indigo-400">Blog</h2>

        <ul class="space-y-4">
            {
                posts.map((post) => (
                    <li class="border border-neutral-800 p-4 rounded hover:border-indigo-400 transition">
                        <a href={post.url} class="flex justify-between items-center">
                            <span class="font-semibold text-neutral-100 hover:text-indigo-300">{post.frontmatter.title}</span>
                            <span class="text-neutral-500 text-sm">{post.frontmatter.date}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</RootLayout>
