---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="About Veltryx">
    <section class="max-w-4xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-6">About Veltryx</h2>
        <p class="mb-4 text-neutral-400">Founded in 2023 by Acto, Veltryx (since 2025, formerly ActoWeb) is a forward-thinking organization passionate about technology, creativity, and delivering impactful solutions.</p>

        <p class="mb-4 text-neutral-400">We specialize in hosting and managing various personal and internal projects, focusing on self-hosted solutions and custom development to meet specific organizational needs. We also like to experiment and explore creative ideas to push boundaries and innovate.</p>
    </section>
</RootLayout>
