---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Contact Veltryx">
    <section class="max-w-4xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-6">Contact</h2>
        <p class="text-neutral-400 mb-4">For inquiries, collaborations, or questions about Veltryx projects, reach out via email:</p>

        <p class="text-neutral-100 font-mono mb-4 underline"><a href="mailto:contact@veltryx.xyz">contact@veltryx.xyz</a></p>

        <p class="text-neutral-400">For any personal inquiries not related to Veltryx, please visit <a href="https://acto.veltryx.xyz" class="underline text-cyan-200">https://acto.veltryx.xyz</a>.</p>
    </section>
</RootLayout>
