---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Veltryx">
    <section class="max-w-4xl mx-auto text-center">
        <div class="mt-10 flex justify-center gap-4">
            <img src="/banner.webp" alt="Veltryx Banner" class="w-128" />
        </div>
        <h1 class="text-4xl md:text-5xl font-semibold text-neutral-100">Welcome to Veltryx.</h1>

        <p class="text-neutral-400 mt-4 text-lg">Home of the tech organization based in Beautiful British Columbia, Canada.</p>

        <div class="mt-10 flex justify-center gap-4">
            <a href="/projects" class="px-6 py-3 bg-neutral-800 text-neutral-100 rounded hover:bg-neutral-700">View Projects</a>
            <a href="/about" class="px-6 py-3 border border-neutral-700 text-neutral-300 rounded hover:border-neutral-500">About Us</a>
        </div>
    </section>
</RootLayout>
