---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Veltryx Projects">
    <section class="max-w-5xl mx-auto text-neutral-100">
        <h2 class="text-3xl font-semibold mb-8">Projects</h2>

        <div class="grid md:grid-cols-2 gap-8">
            <div class="bg-neutral-800 p-6 rounded-lg shadow hover:shadow-lg transition">
                <h3 class="text-xl font-bold mb-2">Veltryx AAD</h3>
                <p class="text-neutral-400">Veltryx AAD integrates with commonly used services for internal use, enhancing identity and access management within our organization.</p>
            </div>

            <div class="bg-neutral-800 p-6 rounded-lg shadow hover:shadow-lg transition">
                <h3 class="text-xl font-bold mb-2">HomeworkSMP</h3>
                <p class="text-neutral-400">Community Minecraft Server hosted by Veltryx on behalf of Acto. Learn more: <a href="https://homeworksmp.gay" class="underline text-cyan-200">https://homeworksmp.gay</a></p>
            </div>

            <div class="bg-neutral-800 p-6 rounded-lg shadow hover:shadow-lg transition">
                <h3 class="text-xl font-bold mb-2">Custom Solutions</h3>
                <p class="text-neutral-400">Veltryx is currently working on a solution for a private organization. </p>
            </div>

            <div class="bg-neutral-800 p-6 rounded-lg shadow hover:shadow-lg transition">
                <h3 class="text-xl font-bold mb-2">Self-Hosted Projects</h3>
                <p class="text-neutral-400">Self-hosted services including Nginx Proxy Manager, AdGuard Home, Portainer, Uptime Kuma, Jellyfin, Home Assistant, and various -arr services for media management.</p>
            </div>
        </div>
    </section>
</RootLayout>
